
<head>
    <title>TinyApp</title>

    <form action="/login" method="POST" style="margin:150px;">
    <label for="username">User Login:</label>
    <input id="username" type="text" name="username" style="width: 300px">

    <%if (username) {%>
    <h1> <%= username %> </h1>
    <% } else { %>
    <h1> </h1>
    <% } %>

    <form action="/logout" method="POST" > <input type="submit" value="Delete">



    </head>




